/* body {
    padding: 0px;
    margin: 0px;
} */

h2 {
    background-color: aqua;
    border: 5px solid black;
    /* ShortHand Property */
    /* padding: 20px;
    margin: 20px; */
    /* padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 100px; */
    /* margin: 50px; */
    /* margin: 50px 150px; */
    /* margin-top: 60px;
    margin-bottom: 100px;
    margin-right: 30px;
    margin-left: 60px; */


}

button {
    font-size: 30px;
    /*background-color: coral;
    */padding: 20px;
    /*margin: 20px;
    *//*padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 200px;
    *//*padding: 20px 50px 100px 150px;
    *//*padding: 20px 150px;
    *//*border: 5px solid royalblue;
    */background-color: bisque;
    color: black;
    border-width: 5px;
    /*border-style: dotted solid ridge double;
    border-color: darkorange red blue black;
    */border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}